body{
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F8FAFF;
}

a{
    text-decoration: none;
    color:black;
}
.body__community{
    font-family: 'Noto Sans KR', sans-serif;
    background-color:white;
}
.div_community font{
    font-size: 24px;
}
table{
    width:900px;
    text-align: center;
    margin:0 auto;
}

/*로그인 login start*/
.table_login__box{
    width:300px;
    margin:100px auto;
}
.table_login__box .id{
	height:30px;
    width:200px;
}
.table_login__box .password{
    height:30px;
    width:200px;
}
.loing_submit_button{
    width:50px;
    height:30px;
    padding:5px;
	margin:0 auto;
	border:0px solid black;
	background-color: #0759e7;
    color: #FFFFFF;
    width:70px;
    text-align:center;
    border-radius: 5px;
}
.loing_submit_button:hover{
	background-color: #00338b;
}
.table_login__box tr{
    height:60px;
}
.div_login__box{
    box-shadow: 5px 5px 5px #999;
    margin:200px auto;
    background-color: white;
    border:1px solid gray;
    width:350px;
    height:350px;
}
/*login end----------------------------------------------*/

/*main start----------------------------------------------*/
.index_table{
    width:650px;
}
.index_table_a{
	color:blue;
}
.index_table tr{
    height:230px;
}
.banner{
    height:600px;
    text-align: center;
    margin:50px auto;
    margin-top:0;
}
.banner img{
	height: 600px;
}
.div_word_memory_box, .div_question_box{
	box-shadow: 5px 5px 5px #999;
    margin:0px auto;
    height:200px;
    width:300px;
    background-color: white;
    border-radius: 5px;
}

.div_word_memory{
    background-color: #0759e7;
    padding:15px;
    border:0;
    border-radius: 5px;
}
.div_word_memory font, .div_question font{
    font-size: 18px;
    color:white;
}
.div_word_memory_exp, .div_question_exp{
    padding:20px;
}

.div_community{
    background-color: #67D5B5;
    margin:0px auto;
    border:0;
    border-radius: 5px;
    color:white;
    width:200px;
    height:200px;
}

.div_question{
    background-color: #0759e7;
    padding:15px;
    border:0;
    border-radius: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 12px;
    background-color: white;
    border-bottom: 1px solid #0759e7;
}

.navbar__logo{
    font-size: 24px;
    color:black;
}
.navbar__logo i{
    color:#0759e7;
}
.navbar__logo font{
    color:#0759e7;

}
.navbar__menu{
    display:flex;
    list-style: none;
    padding-left: 0;   
    font-size:15px;
}
.navbar__menu a:hover{
    color:#0759e7;
}
.navbar__menu li{
    padding:8px 15px;
}
.footer_navbar{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 12px;
    background-color: white;
    border-top: 1px solid #0759e7;
}
.footer_navbar__menu{
    margin:0 auto;
    display:flex;
    list-style: none;
    padding-left: 0;   
    font-size:15px;
}
.footer_navbar__menu a:hover{
    color:#0759e7;
}
.footer_navbar__menu li{
    padding:8px 15px;
}
.button_login{
    background-color: #0759e7;
    color: #FFFFFF;
    width:70px;
    text-align:center;
    border-radius: 5px;
}
.button_login:hover{
    background-color: #00338b;
}
.button_login a{
    color:white;
}
.button_login a:hover{
    color:white;
}

.table__board{
    margin:100px auto;
    width:900px;
    /*border:0.5px solid rgba(0, 0, 0, .5);*/
    text-align: center;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
}
.tr__hr{
    height:3px;
    color:#dbdbdb;
}
.table__board select{
    width:150px;
    height: 43px;
    border: 1px solid #dbdbdb;
}
.td__search{
    padding:20px;
}
.input__keyword{
    width:350px;
    height: 40px;
    border: 1px solid #dbdbdb;
}
.submit__search{
	border: 1px solid #dbdbdb;
    margin: 0 5px;
    padding:10px 20px;
    height:40px;
    
}
.a__write{
    background-color: #0759e7;
    padding:9px 30px;
    color:white;
}
.a__write:hover{
    background-color: red;
}
.span_topic_study{
	background-color:#67D5B5;
	color: white;
	padding:2px 5px 2px 5px;
	border-radius:3px;
}
.span_topic_abroad{
	background-color:#EE7785;
	color: white;
	padding:2px 5px 2px 5px;
	border-radius:3px;
}
.span_topic_market{
	background-color:#C89EC4;
	color: white;
	padding:2px 5px 2px 5px;
	border-radius:3px;
}
.span_topic_license{
	background-color:#84B1ED;
	color: white;
	padding:2px 5px 2px 5px;
	border-radius:3px;
}
.span_topic_etc{
	background-color:gray;
	color: white;
	padding:2px 5px 2px 5px;
	border-radius:3px;
}
.category button{
    border:0;
    border-radius: 0;
    width:100px;
    height:40px;
}
.category button:hover{
    background-color: #0759e7;
    color:white;
}
/*커뮤니티 글쓰기*/
.div_write_box{
	width:700px;
	height:700px;
	margin:100px auto;
}
.table_write_box{
    width:700px;
}
.write_topic{
    height:38px;
}
.write_title{
    height:35px;
    width:590px;
}
.write_content{
    width:680px;
    height:400px;
    resize: none;
}
.write_submit{
    width:80px;
    height:35px;
    background-color: #0759e7;
    border:0;
    border-radius: 5px;
    color:white;
}
.write_cancel{
    width:80px;
    height:35px;
    background-color: gray;
    border:0;
    border-radius: 5px;
    color:white;
}

/*커뮤니티 게시판*/
.a_community_title:hover{
	text-decoration: underline;
}
.td__title{
	width:450px;
}
.td__topic{
	width:115px;
}
/*게시판 디테일 한건상세*/
#heart_icon{
	color:red;
}
#table_detail{
	width: 750px;
	border: 0.2px solid gray;
	border-radius:3px;
	margin: 100px auto;
	padding: 5px;
	background-color:white;
	text-align:left;
}
#table_detail tr:nth-child(1){
	height:50px;
	padding:20px;
}
#line{
   height:2px;
}
#td_toppic_title{
	padding:10px;
}
#detail_info{
	padding:10px;
}
#detail_content{
	padding-top:10px;
	padding-bottom:30px;
	padding-left:10px;
}
#go_to_list{
   height:70px;
}
#go_to_list a{
   padding:10px;
   text-decoration:none;
   border:0.5px solid #a3a1a1;
   color:gray;
}
#reply_box{
   height:90px;
   padding:20px;
}
#reply_content{
   width:600px;
   height:80px;
   color:gray;
}
#submit_reply_Save{
   padding:10px;
   text-decoration:none;
   border:0.5px solid #a3a1a1;
   background-color:white;
   color:#fc9d9a;
}
/*회원가입*/
.table_signup{
    margin:100px auto;
    width: 400px;
    background-color: white;
    border:1px solid gray;
    border-radius: 5px;
    padding:20px;
    box-shadow: 5px 5px 5px #999;
}
.table_signup tr{
    height: 70px;
}
.table_signup .password,.table_signup .name,.table_signup .level{
    height:35px;
    width:250px;
}
.table_signup .id{
	height:35px;
    width:170px;
}
.idcheck_button{
	width:80px;
    height:35px;
    background-color: #0759e7;
    border:0;
    border-radius: 5px;
    color:white;
}
.id_content{
	margin:10px auto;
}

.pop_custid{
	width:150px; height: 30px;
}
.pop_button{
	background-color: rgb(7, 89, 231);
    color: white;
    width:80px; height: 30px;
    border:0px;
    border-radius: 5px;
    font-size: 12pt;
}
.pop_box{
	width:350px;
	text-align:center;
	margin:45px auto;
}

/*프로젝트 소개*/
.project__box{
	width:700px;
	border:1px solid gray;
	background-color:white;
    margin:50px auto;
}
.project__content{
    margin:20px;
    text-align: center;
}
.project__table{
    width:650px;
    margin:30px auto;
    text-align: left;
}
.project__table a{
    color:blue;
}

/*단어외우기*/
.div_wordcard_box{
    width:500px;
    height:150px;
    margin:100px auto 0 auto;
    /*margin:100px auto;*/
    border:0px solid gray;
    text-align:center;
    background-color:white;
    box-shadow: 0 0 0.5em 0 rgb(224, 224, 224);
    box-sizing: border-box;
    font-size:20pt;
    padding-top:30px;
}
.div_button_box{
	width:500px;
	margin:10px auto 120px auto;
	text-align:center;
	color:rgb(7, 89, 231);
	font-size:20pt;
}
.div_button_box table{
	width:200px;
    margin:0 auto;
}
.td_word_record_number{
    font-size:15pt;
    color:black;
}
.table_wordList{
    width:700px;
    margin:20px auto 0 auto;
    text-align:center;
    font-size:12pt;
    background-color: white;
    box-shadow: 0 0 0.5em 0 rgb(224, 224, 224);
}
.table_wordList tr{
    height:70px;
}
.td_frenchword{
	width:300px;
    border-right: 0.2px solid rgb(216, 216, 216);
}
.td_koreanword{
	width:300px;
}
.td_wordlevel{
	width:90px;
    border-left: 0.2px solid rgb(216, 216, 216);
}
.table_level{
    width:700px;
    margin:20px auto;
    text-align:center;
    font-size:12pt;
    background-color: white;
    box-shadow: 0 0 0.5em 0 rgb(224, 224, 224);
}
.table_level a{
    text-decoration: none;
    color:gray;
}
.table_level a:hover{
    text-decoration: none;
    color:blue;
}
.table_level tr{
    height:40px;
}
.kword{
	font-size:15pt;
	color:gray;
}
.panel {
  width:700px;
  border:1px solid #dbdbdb;
  background-color:white;
  text-align: center;
  display: none;
  margin:0 auto;
  padding:20px 0;
}
.input_example{
	width: 300px;
    height: 40px;
    border:1px solid #dbdbdb;
}
.button_example{
	border: 1px solid #dbdbdb;
    margin: 0 5px;
    padding: 10px 20px;
    height: 40px;
}